body {
    h1 {
        color: blue;
        font-family: verdana;
        font-size: 300%;
        text-align: center;
      }

      h2 {
        color: blue;
        font-family: verdana;
        font-size: 200%;
        text-align: center;
      }

    p {
        color: red;
        font-family: verdana;
        font-size: 160%;
        border: 2px solid powderblue;
        padding: 30px;
        margin: 50px;
        text-align: center
      }

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 40%;
      }
      ul {
        list-style: none;
        text-align: justify;
    }
      
      ul li {
        list-style: none;
        text-align: center

      }
    }